*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  height: 100vh;
  overflow: hidden;
  background: #000;
}

p{
  text-align: justify;
  position: relative;
  font-size: 1.5em;
  letter-spacing: -0.05em;
  line-height: 0.7em;
  background: url(2.png), url(2.png);
  background-blend-mode: color-dodge;
  background-position: center;
  background-attachment: fixed;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-clip: text;
  color: transparent;

}

